[Unit]
Description=Cerberus SSH Certificate Signer (Nitro Enclave)
Documentation=https://github.com/pkilar/cerberus
After=nitro-enclaves-allocator.service
Requires=nitro-enclaves-allocator.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/sysconfig/cerberus-signer
ExecStart=/usr/libexec/cerberus/run-enclave.sh start
ExecStop=/usr/libexec/cerberus/run-enclave.sh stop
ExecReload=/usr/libexec/cerberus/run-enclave.sh restart

[Install]
WantedBy=multi-user.target
